@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #141414;
}

a {
  color: #fff;
}

.container {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 70px 0;
}

.container section {
  color: #fff;
  border: 3px solid #E50913;
  margin: 10px 10px;
  padding: 20px;
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container p {
  margin-top: 20px;
  border-bottom: 1px solid #E50913;
  padding-bottom: 10px;
}

form {
  width: 40%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

form input, form button {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 3px;
}

form button {
  background: #E50913;
  color: #fff;
  text-transform: uppercase;
}

form button {
  cursor: pointer;
}

form input {
  margin-bottom: 10px;
}

.container button {
  padding: 5px;
  font-size: 16px;
  margin-right: 5px;
  margin-top: 10px;
  border-radius: 3px;
  width: 100%;

}

.container button:hover {
  cursor: pointer;
}

.container button:last-child {
  width: 20%;
  margin: 10px auto;
}

.title-container {
  margin: 20px auto;
  color: #E50913;
  width: 40%;
  text-align: center;
  font-size: 40px;
}

.input  {
  padding: 10px;
  font-size: 16px;
  border-radius: 3px;
  background: #141414;
  color: #fff;
  border: 1px solid #E50913;
}


